*{
	box-sizing: border-box;
		}
body{
	background-image: url(images/cover1.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: "open sans", sans serif;
	}
.container{
	background: rgba(56, 56, 56, 0.7);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0,0.3);
	width: 400px;
	min-width: 100px;
	overflow: hidden;
	}
.header{
	background: rgba(65, 65, 65, 0.7);
	padding: 20px 40px;
	border-bottom: 1px solid #f0f0f0;
	}
.header h2{
	margin: 0;
	text-align: center;
	}
.form{
	padding: 30px 40px;
	}
.form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	}
.form-control label{
	display: inline-block;
	margin-bottom: 5px;
	}
.form-control input{
	border:2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	width: 100%;
	padding:5px;
	font-size: 14px;
	font-family: inherit;
	}  
.form-control select{
	padding-bottom: 10px;
	}
